{% extends 'TandeemBundle:Base:Base.html.twig' %}
    {% block body %}
        {% include 'TandeemBundle:Base:Header.html.twig' %}
        {% include 'TandeemBundle:Base:Dashboard.html.twig' %}
        <div class="diagonal"></div>
        <main class="mainblog" role="main">
            <h1>Le blog</h1>
            {% for post in posts %}
                <article>
                    <a href="/Post/{{ post.id }}">
                        <img src="{{ post.image }}" alt="article">
                    </a>
                    <div class="postinfos">
                        <p>{{ post.date|date("d/m/Y") }}</p>
                        <a href="/Post/{{ post.id }}">
                            <h2>{{ post.title }}</h2>
                        </a>
                        <p>{{ post.description|truncate(150, true) }}</p>
                    </div>
                </article>
            {% endfor %}
            <div class="side">
                <div class="events">
                    <h3>évenements</h3>
                    <div class="event">
                        <img src="{{ asset('assets/img/event.jpg') }}" alt="event">
                        <div class="eventinfo">
                            <h4>Paris - 29/05</h4>
                            <p>Venez vous dépenser avec moi dans un petit footing au frais de bon matin</p>
                        </div>
                    </div>
                    <div class="event2">
                        <img src="{{ asset('assets/img/event2.jpg') }}" alt="event">
                        <div class="eventinfo">
                            <h4>Lyon - 15/06</h4>
                            <p>Accompagnez moi faire du yoga. Place pour 5 personnes.</p>
                        </div>
                    </div>
                </div>
                <img class="networksbanners" src="{{ asset('assets/img/networks/banners.png') }}" alt="networks">
            </div>
        </main>
    {% endblock %}
