{% extends 'TandeemBundle:Base:Base.html.twig' %}
    {% block body %}
        {% include 'TandeemBundle:Base:Header.html.twig' %}
        {% include 'TandeemBundle:Base:Dashboard.html.twig' %}
        <div class="diagonal"></div>
        <main class="mainblog" role="main">
            <h1>Le blog</h1>
            {% for post in posts|reverse %}
                <article>
                    <a href="/Post/{{ post.id }}">
                        <img src="{{ asset('assets/img/articleimg.jpg') }}" alt="article">
                    </a>
                    <div class="postinfos">
                        <p>{{ post.date|date("d/m/Y") }}</p>
                        <a href="/Post/{{ post.id }}">
                            <h2>{{ post.title }}</h2>
                        </a>
                        <p>{{ post.description|truncate(150, true) }}</p>
                    </div>
                </article>
            {% endfor %}
            <div class="side">
                <div class="events">
                    <h3>évenements</h3>
                </div>
                <img class="networksbanners" src="{{ asset('assets/img/networks/banners.png') }}" alt="networks">
                <div class="categories">
                    <h3>categories</h3>
                </div>
            </div>
        </main>
    {% endblock %}