{% if ((is_granted("IS_AUTHENTICATED_REMEMBERED")) or (is_granted("IS_AUTHENTICATED_FULLY"))) %}
    {% if is_granted('ROLE_ADMIN') %}
        {% block body %}
            <div class="dashboard">
                <h1>DASHBOARD</h1><br><br>
                <ul>
                    <li><a class="link" href="{{ path('tandeem_homepage') }}">Accueil</a></li>
                    <li><a class="link" href="{{ path('Blog') }}">Blog</a></li>

                    <li><a class="link" href="{{ path('Show_Posts') }}">Articles</a>
                        <ul>
                            <li><a class="link" href="{{ path('Create_Posts') }}">Créer un Article</a></li>
                        </ul>
                    </li>
                    <li><a class="link" href="">Utilisateurs</a></li>
                    <li><a class="link" href="{{ path('fos_user_security_logout') }}" class="logoutLink">Déconnexion</a></li>
                </ul>
            </div>
        {% endblock %}
    {% endif %}
{% endif %}
